<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- V0.2 Avec th:include dans <head ... , le fragment <head>...</head> 
    du fichier "fragments/common.html" devient le <head>...</head> de ce fichier.
    -->
    <head>
    <div th:replace="fragments/common :: [//div[@id='head']]"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <title>OSLO - Compte</title>
    <head/>
    <body>

        <div th:replace="fragments/menu"></div>
        <div class="main"><!-- V0.3 -->

            <h1>Compte</h1>

            <form  th:action="@{''}" th:object="${compte}" method="post" role="form">

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{password}"/>
                <input type="hidden" th:field="*{personne.id}"/>
                
                <div class="input-field">
                    <label for="nom_de_compte">Nom du compte</label>
                    <input id="nom_de_compte" type="text" th:field="*{username}" />
                </div>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />

                <div class="input-field">
                    <label for="roles">Rôle du compte</label>
                    <select th:field="*{role}" id="roles">
                        <option th:each="r : ${roles}" th:value="${r.id}" th:text="${r.libelle}"></option>
                    </select>
                </div>
                 <div class="buttons">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <a th:href="@{/compte}" ><div class="btn btn-danger">Annuler</div></a>
                </div>
            </form>  
        </div>       
    </body>
</html>