<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- V0.2 Avec th:include dans <head ... , le fragment <head>...</head> 
    du fichier "fragments/common.html" devient le <head>...</head> de ce fichier.
    -->
    <head>
    <div th:replace="fragments/common :: [//div[@id='head']]"></div>
    <title>OSLO - Fonction</title>
    <head/>
    <body>

        <div th:replace="fragments/menu"></div>
        <div class="main"><!-- V0.3 -->

            <h1>Fonction</h1>

            <form  th:action="@{''}" th:object="${categorie}" method="post" role="form">

                <input type="hidden" th:field="*{id}"/>
                <label  for="libelle">Nom de la fonction</label>

                <input id="libelle" type="text" th:field="*{libelle}" />
                <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" />

                <p>
                    <label for="categories">Nom du département</label>

                    <select th:field="*{parent}" id="categories">
                        <option th:value="null" >Aucun</option>

                        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.libelle}"></option>
                    </select>
                </p>
                <button type="submit" class="btn btn-success">Valider</button>
                <a th:href="@{/categorie}">Fermer</a>
            </form>  
        </div>       
    </body>
</html>