<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/common :: [//div[@id='head']]"></div>
            <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <title>OSLO - Statuts des demandes</title>
    <head/>
    <body>
        <div th:replace="fragments/menu"></div>
        <div class="main">
            <h1>Statut des demandes</h1>

            <form action="#" th:object="${statutDemande}" method="post" role="form">

                <input type="hidden" th:field="*{id}"/>
                <div class="input-field">
                    <label for="libelle">Nom du statut de la demande</label>
                    <input id="libelle" type="text" th:field="*{libelle}" />
                </div>
                <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}" />
                <div class="buttons">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <a th:href="@{/statutDemande}" ><div class="btn btn-danger">Fermer</div></a>
                </div>
            </form>
        </div>
    </body>
</html>