<!-- navigation -->
<nav>
    <!-- logo -->
    <a th:href="@{/home}" class="logo">OSLO</a>
    <!-- menu-btn -->
    <input type="checkbox" name="" id="menu-btn" class="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
    </label>
    <!-- menu -->
    <ul class="menu">
        <li><a th:href="@{/home}">Accueil</a></li>
        <li><a th:href="@{/demande/incident}">Mes demandes d'incident</a></li>
        <li><a th:href="@{/catalogue}">Catalogue de service</a></li>
        <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="@{/administration}">Administration</a></li>
        <li><a th:href="@{/profil}">Mon profil</a></li>
        <li><a th:href="@{/demandeService}">Mes demandes de services</a></li>





        <li sec:authorize="hasAuthority('ROLE_INTERVENANT') || hasAuthority('ROLE_ADMIN')"><a th:href="@{/viewDemandes}">Mes Fonctions</a></li>

        <li><a th:href="@{/logout}">Déconnexion</a></li>
    </ul>
</nav>
