<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/common :: [//div[@id='head']]"></div>
    <title>OSLO - Incident</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <head/>
    <body>

        <div th:replace="fragments/menu"></div>
        <div class="main">

            <h1>Demande d'incident</h1>

            <form  th:action="@{''}" th:object="${incident}" method="post" role="form">

                <input type="hidden" th:field="*{id}" />
                
                <div class="input-field">
                    <label for="domaine">Domaine</label>
                    <select th:field="*{domaine}" id="domaine">
                        <option th:each="domaine : ${domaines}" th:value="${domaine.id}" th:text="${domaine.libelle}"></option>
                    </select>
                </div>                        
                <span th:if="${#fields.hasErrors('domaine')}" th:errors="*{domaine}"></span>
                
                <div class="input-field">
                    <label for="libelle">Incident</label>
                    <input id="libelle" type="text" th:field="*{libelle}" />
                </div>
                <span th:if="${#fields.hasErrors('libelle')}" th:errors="*{libelle}"></span>
                
                <div class="input-field">
                    <label for="categorie">Priorité</label>
                    <select th:field="*{priorite}" id="priorite">
                        <option th:each="i : ${#numbers.sequence( 1, 10)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </div>                        
                
                <div class="input-field">
                    <label for="fonction">Fonction</label>
                    <select th:field="*{fonctionOccupe}" id="fonction">
                        <option th:each="fonction : ${fonctions}" th:value="${fonction.id}" th:text="${fonction.libelle}"></option>
                    </select>
                </div>                        
                <span th:if="${#fields.hasErrors('fonctionOccupe')}" th:errors="*{fonctionOccupe}"></span>
                
                <div class="buttons">
                    <button type="submit" class="btn btn-success">Valider</button>
                    <a th:href="@{/incident}" ><div class="btn btn-danger">Fermer</div></a>
                </div>
            </form>  
        </div>       
    </body>
</html>