<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/common :: [//div[@id='head']]"></div>
    <title>OSLO - Incidents</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <head/>
    <body>

        <div th:replace="fragments/menu"></div>

        <div class="main">          
            <h1>Listes des tickets incidents</h1>
            <a th:href="@{/demande/create}">
                <div class="btn btn-primary">Créer un nouveau ticket incident
                </div>
            </a>
            <table class="table fluid">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Date</th>
                        <th>Sujet</th>
                        <th>Incident</th>
                        <th>Importance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="demande : ${demandeIncidents}">
                        <td th:text="${demande.id}"></td>
                        <td th:text="${demande.date_creation}"></td>
                        <td th:text="${demande.sujet}"></td>
                        <td th:text="${demande.incident.libelle}"></td>
                        <td th:text="${demande.incident.priorite}"></td>
                        <td>
                            <div class="buttons">
                                <a th:href="@{/demande/edit(id=${demande.id})}">
                                    <div class="btn btn-warning">Editer</div>
                                </a>
                                <a  th:href="@{'/demande/cloturer/' + ${demande.id}}">
                                    <div class="btn btn-danger">Clôturer</div>
                                </a>
                            </div>
                        </td>
                    </tr>                   
                </tbody>
            </table>        
        </div>        
    </body>
</html>

