<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/common :: [//div[@id='head']]"></div>
    <title>OSLO - Rôles</title>
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <head/>
    <body>
        <div th:replace="fragments/menu"></div>
        <div class="main">
             <h1>Listes des rôles</h1>
            <a th:href="@{/role/create}">
                <div class="btn btn-primary">Ajouter un nouveau rôle
                </div>
            </a>
            <table class="table fluid">
                <thead>
                    <tr>
                        <th>Nom</th>


                    </tr>
                </thead>
                <tbody>
                    <tr th:each="role : ${roles}">
                        <td th:text="${role}"></td>

                     
                    </tr>                   
                </tbody>
            </table>
        </div>
    </body>
</html>